# see: https://github.com/marketplace/actions/test-compile-for-arduino

name: build
on: [push, pull_request]
jobs:
  build:
    name: build for MCU
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Compile sketch
      uses: ArminJo/arduino-test-compile@v3
      with:
        #platform-url: https://m5stack.oss-cn-shenzhen.aliyuncs.com/resource/arduino/package_m5stack_index.json
        #arduino-board-fqbn: esp32:esp32:m5stack_atoms3:CDCOnBoot=cdc
        arduino-board-fqbn: esp32:esp32:esp32s3:CDCOnBoot=cdc
        arduino-platform: esp32:esp32@3.2.0
        platform-url: https://raw.githubusercontent.com/espressif/arduino-esp32/gh-pages/package_esp32_index.json
        required-libraries: M5AtomS3@1.0.0,M5Unified@0.2.5
        sketch-names: "*.ino"
        sketch-names-find-start: bbn_*
        extra-arduino-cli-args: "--warnings default --build-property build.extra_flags=\"-DCONFIG_ESP_CONSOLE_USB_CDC=y -DCONFIG_LIBC_STDOUT_LINE_ENDING_CRLF=y -DCONFIG_LIBC_STDIN_LINE_ENDING_CR=y\" --build-property compiler.libraries.ldflags=-Wl,--allow-multiple-definition "
        set-build-path: true

    - name: Make zip
      run: |
        ls /home/runner/work/bbn_m5atomS3_lite_console/bbn_m5atomS3_lite_console/build/*.bin /home/runner/work/bbn_m5atomS3_lite_console/bbn_m5atomS3_lite_console/build/*.csv | zip bbn_m5atomS3_lite_console_bin-$(date +%Y-%m-%d).zip -j -@
        pwd
        ls *.zip
        
    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: bbn_m5atomS3_lite_console_bin*.zip
        tag: ${{ github.ref == 'refs/heads/main' && 'vTest' || github.ref }}
        overwrite: true
        file_glob: true
